<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="container mb-5 mt-5">
        <div class="alert alert-info mb-2">
            <div th:each="myUser : ${users}">
                <h4 th:text="${myUser.getLogin()}"></h4>
                <h4 th:text="${myUser.getPassword()}"></h4>
                <h4 th:text="${myUser.getEmail()}"></h4>
            </div>
        </div>
    </div>
</body>
</html>